.header{
    max-width: 1440px;
    margin: auto;
    padding: 30px 40px 0;
    background-color: #f5f5f5;
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border: 4px solid #c3c3c3;
    border-bottom: none;
    
    &-homelink{
        height: 60px;
        max-width: 180px;
        width: 100%;
        background-color: #fff2cd;
        border: solid 2px #e4ca7e;
        border-radius: 15px;
        font-size: 2rem;
        font-weight: 500;
        cursor: pointer;
    }

    &-search{
        height: 60px;
        width: 100%;
        background-color: #ffe7cd;
        border: solid 2px #e8d091;
        border-radius: 15px;
        text-align: center;
        padding: 20px 10px;

        &-form__input{
            width: 100%;
            background-color: #ffe7cd;
            border: none;
            color: black;
            line-height: 2rem;
            font-size: 1.5rem;
            text-align: center;
        }

        &-form__input:active, :hover, :focus{
            color: black;
            border: none;
            outline: none;
        }
    }

    &-desklist{
        height: 60px;
        max-width: 180px;
        width: 100%;
        background-color: #d6e9d5;
        border: solid 2px #8eba74;
        border-radius: 15px;
        text-align: center;
        padding: 20px 10px 0px 20px;

        &-wrapper::after{
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
            display: block;
            pointer-events: none;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10.4px 6px 0 6px;
            border-color:black transparent transparent transparent;
        }

        &-wrapper{
            position: relative;

            &-select{
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background-color: transparent;
            border: none;            
            outline: none;
            width: 100%;
            font-size: 1.5rem;
            line-height: 2rem;
            cursor: pointer;
            } 
        }
    }
}

.main{
    max-width: 1440px;
    margin: auto;
    min-height: 90vh;
    padding: 30px 40px;
    background-color: #f5f5f5;
    border: 4px solid #c3c3c3;
    border-top: none;

    // &-content:nth-child(odd){
    //     top: 50px;
    // }

    &-content{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;

        &-block{
            max-height: 400px;
            height: 100%;
            max-width: 100%;
            border-radius: 15px;
            overflow: hidden;


            &-pic:hover &-pic-button__add{
                display: block;
                transition: 0.5s;
            }
            &-pic:hover &-pic-button__report{
                display: block;
                transition: 0.5s;
            }

            &-pic{
                position: relative;

                &__item{
                    width: 100%;
                    border-radius: 15px;
                }

                &-button__add{
                    height: 25px;
                    width: 25px;
                    border-radius: 25px;
                    border: 1px solid green;
                    background-color: rgb(4, 173, 4);
                    position: absolute;
                    z-index: 9;
                    right: 40px;
                    bottom: 10px;
                    display: none;
                    font-weight: bold;
                }
    
                &-button__add:hover{
                    cursor: pointer;
                    background-color:rgb(56, 223, 56);
                    transition: 0.5s;
                }
    
                &-button__report{
                    height: 25px;
                    width: 25px;
                    border-radius: 25px;
                    border: 1px solid rgb(82, 1, 1);
                    background-color: rgb(255, 102, 0);
                    position: absolute;
                    z-index: 9;
                    right: 10px;
                    bottom: 10px;
                    display: none;
                    font-weight: bold;
                }
    
                &-button__report:hover{
                    cursor: pointer;
                    background-color:red;
                    transition: 0.5s;
                }       
            }

            &__desc{
                text-align: center;
                font-size: 1.5rem;
                line-height: 1.6rem;
                padding-top: 5px;
            }

            &-author{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                padding: 10px;

                &__pic{
                    width: 50px;
                    border-radius: 50px;
                    border: 1px solid black;
                }

                &__name{
                    font-size: 1.2rem;
                    font-weight: bold;
                }
            }
        }
    }

    &-popup-desks{
        width: 200px;
        height: 200px;
        border: 3px solid #d7b755;
        border-radius: 25px;
        background-color: #fff2cd;
        background-size: 100%;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        z-index: 99;

        &-buttons{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            &__item{
                width: 100px;
                height: 30px;
                border-radius: 20px;
                border: 2px solid #e8d091;
                background-color: #ffe7cd;
                font-size: 1.5rem;
            }

            &__item:hover{
                cursor: pointer;
                background-color: #ffce9a;
                transition: 1s;
            }

        }
    }

    &-popup-report{
        width: 300px;
        height: 500px;
        display: flex;
        flex-direction: row;
        border: 3px solid #d7b755;
        border-radius: 25px;
        background-color: #fff2cd;
        text-align: center;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        z-index: 99;

        &-reason{
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        
            &-span{
                font-size: 2rem;
            }
        }

        &-confirm{
            padding: 40px 20px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 5px;

            &__button{
                width: 70px;
                height: 25px;
                border-radius: 20px;
                border: 2px solid #e8d091;
                background-color: #ffe7cd;
                font-size: 1.3rem;
            }

            &__button:hover{
                cursor: pointer;
                background-color: #ffce9a;
                transition: 1s;
            }
        }
    }
}
